{{ define "main" }}
<body id="content" class="dark-theme">
  
  <video width="100%" muted autoplay loop playsinline>
    <source src="../../media/{{ with .File }}{{ .TranslationBaseName }}{{ end }}.mp4" >
    <img src="../../media/{{ with .File }}{{ .TranslationBaseName }}{{ end }}.mp4" >
    <img src="../../media/{{ with .File }}{{ .TranslationBaseName }}{{ end }}.gif" >
  </video>

</body>

<script language="javascript">
  var queryDict = {}
  location.search.substr(1).split("&").forEach(function(item) {queryDict[item.split("=")[0]] = item.split("=")[1]})

  if (!("autoplay" in queryDict)) {
    var xhr = new XMLHttpRequest();
    xhr.onload = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("content").innerHTML =
        this.responseText;
      }
    };
    xhr.open("GET", "{{ .Site.BaseURL }}full/posts/{{ with .File }}{{ .TranslationBaseName }}{{ end }}/index.html", true);
    xhr.send();
  };
  </script>
{{ end }}
