<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<meta name="twitter:card" content="player" />
<meta name="twitter:site" content="@123devEmail" />
<meta name="twitter:title" content="123dev newsletter" />
<meta name="twitter:description" content="A newsletter to make you a better developer with the power of gifs." />
<meta name="twitter:image:alt" content="{{ .Params.altext }}" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}/media/1.gif" />
<meta name="twitter:player" content="{{ .Permalink }}" />
<meta name="twitter:player:width" content="1280" />
<meta name="twitter:player:height" content="720" />
<meta name="twitter:player:stream" content="{{ .Site.BaseURL }}/media/1.mp4" />
<meta name="twitter:player:stream:content_type" content="video/mp4" />