<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

<meta property="og:description" content="{{ .Title }}"/>
<meta property="og:title" content="123dev newsletter - #{{ .File.TranslationBaseName }}" />
<meta property="og:site_name" content="123dev newsletter" />
<meta property="og:image" content="{{ .Site.BaseURL }}/media/{{ .File.TranslationBaseName }}.gif" />
<meta property="og:video" content="{{ .Permalink }}" />
<meta property="og:video:secure_url" content="{{ .Permalink }}" />
<meta property="og:image:width" content="{{ .Params.width | default 960 }}" />
<meta property="og:image:height" content="{{ .Params.height | default 540 }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:video:type" content="video/mp4">
<meta property="og:type" content="video">
<meta property="og:locale" content="en-us" />

<meta name="twitter:card" content="player" />
<meta name="twitter:site" content="@123devEmail" />
<meta name="twitter:title" content="123dev newsletter - #{{ .File.TranslationBaseName }}" />
<meta name="twitter:description" content="{{ .Title }}" />
<meta name="twitter:image:alt" content="{{ .Params.altext }}" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}/media/{{ .File.TranslationBaseName }}.gif" />
<meta name="twitter:player" content="{{ .Permalink }}" />
<meta name="twitter:player:width" content="{{ .Params.width | default 960 }}" />
<meta name="twitter:player:height" content="{{ .Params.height | default 540 }}" />
<meta name="twitter:player:stream" content="{{ .Site.BaseURL }}/media/{{ .File.TranslationBaseName }}.mp4" />
<meta name="twitter:player:stream:content_type" content="video/mp4" />