<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<meta name="twitter:card" content="player" />
<meta name="twitter:site" content="@123devEmail" />
<meta name="twitter:title" content="123dev newsletter - #{{ .File.TranslationBaseName }}" />
<meta name="twitter:description" content="{{ .Title }}" />
<meta name="twitter:image:alt" content="{{ .Params.altext }}" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}/media/{{ .File.TranslationBaseName }}.gif" />
<meta name="twitter:player" content="{{ .Permalink }}" />
<meta name="twitter:player:width" content="960" />
<meta name="twitter:player:height" content="540" />
<meta name="twitter:player:stream" content="{{ .Site.BaseURL }}/media/{{ .File.TranslationBaseName }}.mp4" />
<meta name="twitter:player:stream:content_type" content="video/mp4" />