{{ define "body" }}
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <meta property="og:description" content="A newsletter to make you a better dev with the power of gifs."/>
    <meta property="og:title" content="123dev newsletter" />
    <meta property="og:site_name" content="123dev newsletter" />
    <meta property="og:image" content="{{ .Site.BaseURL }}/media/1.gif" />
    <meta property="og:video" content="{{ .Site.BaseURL }}/posts/1" />
    <meta property="og:video:secure_url" content="{{ .Site.BaseURL }}/posts/1" />
    <meta property="og:image:width" content="{{ .Params.width | default 960 }}" />
    <meta property="og:image:height" content="{{ .Params.height | default 540 }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:video:type" content="video/mp4">
    <meta property="og:type" content="video">
    <meta property="og:locale" content="en-us" />
    
    <meta name="twitter:card" content="player" />
    <meta name="twitter:site" content="@123devEmail" />
    <meta name="twitter:title" content="123dev newsletter" />
    <meta name="twitter:description" content="A newsletter to make you a better dev with the power of gifs." />
    <meta name="twitter:image:alt" content="{{ .Params.altext }}" />
    <meta name="twitter:image" content="{{ .Site.BaseURL }}/media/1.gif" />
    <meta name="twitter:player" content="{{ .Site.BaseURL }}/posts/1" />
    <meta name="twitter:player:width" content="{{ .Params.width | default 960 }}" />
    <meta name="twitter:player:height" content="{{ .Params.height | default 540 }}" />
    <meta name="twitter:player:stream" content="{{ .Site.BaseURL }}/media/1.mp4" />
    <meta name="twitter:player:stream:content_type" content="video/mp4" />
</head>

    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            <video muted autoplay loop playsinline width="100%">
				<source src="./media/1.mp4">
				<img src="./media/1.mp4">
				<img src="./media/1.gif">
			</video>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}
            
            <h1 style="justify-content: center;">{{ .Site.Title }}</h1>
            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            {{ partial "subscribe.html" . }}
            </br>
        </div>
    </main>
{{ end }}
