{{ define "head" }}
	{{ if .Params.featuredImg -}}
	<style>.bg-img {background-image: url('{{.Params.featuredImg | relURL}}');}</style>
	{{- else if .Params.images -}}
		{{- range first 1 .Params.images -}}
		<style>.bg-img {background-image: url('{{. | relURL}}');}</style>
		{{- end -}}
	{{- end -}}
{{ end }}

{{ define "header" }}
{{ partial "twitter-vid.html" . }}
{{ end }}

{{ define "main" }}
	{{- if (or .Params.images .Params.featuredImg) }}
	<div class="bg-img"></div>
	{{- end }}
	<main class="site-main section-inner thin animated fadeIn faster">

		<h1>{{ .Title }}</h1>
		<video width="100%" muted autoplay loop playsinline>
			<source src="{{ .Site.BaseURL }}/media/{{ .File.TranslationBaseName }}.mp4" >
			<img src="{{ .Site.BaseURL }}/media/{{ .File.TranslationBaseName }}.gif" >
		</video>
		<p>via <a href={{ .Params.attribution }}>{{ .Params.attribution_site }}</a></p>
		<div class="content">
			{{ .Content }}
		</div>
		<a href="{{ .Site.BaseURL }}">Home</a> • 
		{{ with .NextInSection }}
		<a href="{{ .Permalink }}">Next Email</a>
		{{ end }}
		</br>
	</main>
{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}
