{{ define "head" }}
	{{ if .Params.featuredImg -}}
	<style>.bg-img {background-image: url('{{.Params.featuredImg | relURL}}');}</style>
	{{- else if .Params.images -}}
		{{- range first 1 .Params.images -}}
		<style>.bg-img {background-image: url('{{. | relURL}}');}</style>
		{{- end -}}
	{{- end -}}
	<style>
		#either-gif-or-video video { display: none; }
		@media (-webkit-video-playable-inline) {
    		#either-gif-or-video img { display: none; }
    		#either-gif-or-video video { display: initial; }
		}
	</style>
{{ end }}

{{ define "header" }}
{{ partial "twitter-vid.html" . }}
{{ end }}

{{ define "main" }}
	{{- if (or .Params.images .Params.featuredImg) }}
	<div class="bg-img"></div>
	{{- end }}
	<main class="site-main section-inner thin animated fadeIn faster">

		<h1>{{ .Title }}</h1>
		<video width="100%" muted autoplay loop playsinline>
			<source src="{{ .Site.BaseURL }}/media/{{ .File.TranslationBaseName }}.mp4" >
			<img src="{{ .Site.BaseURL }}/media/{{ .File.TranslationBaseName }}.mp4" >
			<img src="{{ .Site.BaseURL }}/media/{{ .File.TranslationBaseName }}.gif" >
		</video>
		<p>via <a href={{ .Params.attribution }}>{{ .Params.attribution_site }}</a></p>
		<div class="content">
			{{ .Content }}
		</div>
		<div class="post-nav thin">
			{{- with .NextInSection }}
			<a class="next-post" href="{{ .Permalink }}">
				<span class="post-nav-label"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>&nbsp;{{ i18n "newer" }}</span><br><span>{{ .Title }}</span>
			</a>
			{{- end }}
			{{- with .PrevInSection }}
			<a class="prev-post" href="{{ .Permalink }}">
				<span class="post-nav-label">{{ i18n "older" }}&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></span><br><span>{{ .Title }}</span>
			</a>
			{{- end }}
		</div>
	</main>
{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}
